.wrapper {
  padding: 0 22px 40px;
  text-align: center;
  background-color: var(--color-1);
  border-radius: 15px;
  border: 1px solid var(--color-2);
  margin-bottom: 25px;
}

.item {
  margin-top: 42px;
}

.title {
  color: var(--color-6);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.under-title {
  color: var(--color-7);
  margin-bottom: 26px;
}

.line {
  margin: 0 auto;
  background-color: var(--color-7);
  width: 80px;
  height: 1px;
}

@media screen and (min-width: 1440px) {
  .inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper {
    padding: 50px 48px;
  }

  .item {
    margin-top: 0;
    border-right: 1px solid var(--color-7);
    padding-right: 55px;
    text-align: left;
  }

  .item:last-child {
    border-right: 0;
  }

  .line {
    display: none;
  }

  .title {
    font-size: 24px;
  }

  .under-title {
    margin-bottom: 0;
  }
}
