.wrapper {
  padding: 0 22px;
  background-color: var(--color-5);
}

.inner-wrapper {
  position: relative;
  top: -55px;
}

@media screen and (min-width: 1440px) {
  .inner-wrapper {
    top: -88px;
  }

  .wrapper {
    max-width: 740px;
    margin: 0 auto;
  }
}
